extends layout


block content
    script(src="/javascripts/wishlistFunc.js")

    h1 Hello #{user}
    for wishlist in allWishlists
        a(href='wishlist/#{wishlist}', class='mui-btn') open #{wishlist}
    div
        button(class='mui-btn', onclick="post('#{user}')") + create wishlist
