doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//cdn.muicss.com/mui-0.9.39/css/mui.min.css', type='text/css')
    style.
      body {
        background-color: lavender;
      }
      .mui-appbar {
        background-color: lightblue;
      }
      .mui-input {
        margin: 0 10px;
        display: inline-block;
      }
      .inline {
        margin: 0 10px;
        display: inline-block;
      }
  body
  div(class='mui-appbar')
    a(href='/dashboard', class="mui--pull-left") Dashboard
    a(href='/login', class="mui--pull-right") Logout
  div(class='mui-container-fluid')
    block content
