doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//cdn.muicss.com/mui-0.9.39/css/mui.min.css', type='text/css')
    style.
      body {
        background-color: lavender;
      }
      .mui-appbar {
        background-color: lightblue;
      }
      .almost-button {
        background-color: white;
        display: inline-block;
        margin: 6px;
        padding: 0 26px;
        font-size: 18px;
        cursor: pointer;
      }
      .mui-input {
        margin: 0 10px;
        display: inline-block;
      }
      .inline {
        margin: 0 10px;
        display: inline-block;
      }
  body
  div(class='mui-appbar')
    table(width="100%")
      tr(style="vertical-align:middle;")
        td(class="mui--appbar-height")
          a(href='/dashboard') Dashboard
        td(class="mui--appbar-height" align="center")
          h1 iWish
        td(class="mui--appbar-height" align="right")
          a(href='/login') Logout
  script(src="/javascripts/linkify.js")
  div(class='mui-container-fluid')
    block content
