extends layout

block content
    form(class='mui-form', action='/login', method='post')
        div(class="mui-col-md-4", data-role='fieldcontain')
            fieldset(data-role='controlgroup')
                label username
                    input(class='mui-input', id='username', value='', placeholder='your username', name='username', autofocus=true)
        div(class="mui-col-md-4", data-role='fieldcontain')
            input(class='mui-btn', type='submit', value='Sign Up', data-transition='fade', data-theme='c')
