extends layout

block content
    script(src="/javascripts/wishlistFunc.js")

    h2 My wishlist
    for item in wishes
        div(class='mui-row')
            div(class='mui-col-md-4')
                p #{item.description}
            div(class='mui-col-md-4')
                button(class='mui-btn', onclick="removeWish('#{item.uuid}')") remove

    form(class='mui-form', action="#{formAction}", method='post')
        div(class='mui-row')
            div(class="mui-col-md-2", data-role='fieldcontain')
                input(class='mui-input', id='description', value='', placeholder='What me wanth?', name='description')
            div(class="mui-col-md-2", data-role='fieldcontain')
                input(class='mui-btn', type='submit', value='add', data-transition='fade', data-theme='c')
