extends layout

block content
    p Wishlist of #{user}
    for item in wishes
        p #{item.description}
    form(action="#{formAction}", method='post')
        div(data-role='fieldcontain')
            fieldset(data-role='controlgroup')
                input(id='description', value='', placeholder='What me wanth?', name='description')
                input(type='submit', value='add', data-transition='fade', data-theme='c')
