extends layout

block content
    div(class='mui--text-display3') Wishlists:
    p
    a(href='wishlist/#{myWishlist._id}', class='mui--text-display2') mine
    p
    p(class='wishlist-p')
        for wishlist in otherWishlists
            div
                a(href='wishlist/#{wishlist._id}', class='mui--text-display2 wishlist') #{wishlist.user}
    p(class='wishlist-p')



