doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//cdn.muicss.com/mui-0.9.39/css/mui.min.css', type='text/css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    script(src="//cdn.muicss.com/mui-0.9.41/js/mui.min.js")
    style.
      body {
        background-color: lavender;
      }
      .mui-appbar {
        background-color: lightblue;
      }
      .mui-input {
        margin: 0 10px;
        display: inline-block;
      }
      .inline {
        margin: 0 10px;
        display: inline-block;
      }
      p, label, input, span, a {
        font-size: 20px;
        vertical-align: middle;
      }
      span + .mui-btn {
        margin-left: 20px;
      }
      input + .mui-btn {
        margin-left: 20px;
      }
      .header-appbar {
        font-size: 30px;
        padding: 0 10px;
      }
      .error {
        color: palevioletred;
      }
      .body-content {
        margin: 5% 25%;
      }
body
  div(class='mui-appbar')
      a(href='/dashboard', class='header-appbar') Dashboard
      a(href='/login', class='mui--pull-right header-appbar') Logout
      div(class='mui--text-center mui--text-display3') iWish
      script(src="/javascripts/linkify.js")
      script(src="/javascripts/cookie.js")
      script(src="/javascripts/fetch.js")
  div(class='body-content')
    block content
