extends layout

block content
    script(src="/javascripts/wishlistFunc.js")

    h2(class="wish-header") My wishlist
    h3 This wishlist is already published. You cannot edit it anymore. Enjoy your surprise :)
    for item in wishes
        div
            div(class='mui--text-display2') &#9679 #{item.description}
        p(class='space-p')